<!doctype html>
<html lang="en" ng-app="addressBookApp" id="ng-app" xmlns:ng="http://angularjs.org">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Address Book</title>

		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/custom.css" rel="stylesheet">
		
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="container" ng-controller="AddressBookController">
			<div class="modal fade" id="newContact">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title">New Contact</h4>
						</div>
						<div class="modal-body">
							<form class="form-horizontal" role="form" name="contactForm" ng-class="{'show-errors': showErrors}">
								<div class="form-group">
									<label  class="col-sm-3 control-label" for="first-name">First Name</label>
									<div class="col-sm-9">
										<input type="text" ng-model="contact.firstName" required class="form-control" id="first-name" placeholder="First Name">
									</div>
								</div>
								<div class="form-group">
									<label  class="col-sm-3 control-label" for="last-name">Last Name</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" ng-model="contact.lastName" id="last-name" placeholder="Last Name">	
									</div>
								</div>	
								<div class="form-group">
									<label  class="col-sm-3 control-label" for="phone">Phone</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" ng-pattern="/^(?:\+\d{1,3}|0\d{1,3}|00\d{1,2})?(?:\s?\(\d+\))?(?:[-\/\s.]|\d)+$/" ng-model="contact.phone" required id="phone" placeholder="Phone">
									</div>
								</div>	
								<div class="form-group">
									<label  class="col-sm-3 control-label" for="group">Group</label>
									<div class="col-sm-9">
										<select id="group" ng-model="contact.group" class="form-control">
											<option value="" ng-selected></option>
											<option ng-repeat="group in groups" value="{{ group }}">{{ group }}</option>
										</select>
									</div>
								</div>				
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary" ng-click="saveContact(contact)">Save changes</button>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			
			<!-- Static navbar -->
			<div class="navbar navbar-default" role="navigation">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="">Address Book</a>
					</div>
					<div class="navbar-collapse collapse">
						<button type="button" class="btn btn-primary navbar-btn navbar-left"  data-toggle="modal" data-target="#newContact">
							<span class="glyphicon glyphicon-plus"></span> Add new contact
						</button>
						

						<form class="navbar-form navbar-right" role="search">
							<div class="form-group">
								<label for="groupFilter">Group:</label>
								<select ng-model="groupFilter.group" class="form-control" id="groupFilter">
									<option value="" ng-selected>all</option>
									<option ng-repeat="group in groups" value="{{ group }}">{{ group }}</option>
								</select>
							</div>
							
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Search" ng-model="searchFilter">
							</div>
							
						</form>
					</div><!--/.nav-collapse -->
				</div><!--/.container-fluid -->
			</div>
			<!-- /.navbar -->

			<div class="row" id="main" role="main">
				<div class="col-xs-12" ng-show="contactsExist">
					<table class="table table-striped"> 
						<thead>
							<tr>
								<th>First Name</th>
								<th>Last Name</th>
								<th>Phone</th>
								<th>Category</th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="contact in contacts | filter:groupFilter | filter:searchFilter track by $index">
								<td>{{ contact.firstName }}</td>
								<td>{{ contact.lastName}}</td>
								<td>{{ contact.phone }}</td>
								<td>{{ contact.group }}</td>
								<td>
									<button type="button" class="btn btn-primary btn-xs" ng-click="edit(contact)">
										<span class="glyphicon glyphicon-edit"></span> Edit
									</button>
									<button type="button" class="btn btn-primary btn-xs" 
										ng-confirm-message="Delete {{ contact.firstName }}?" 
										ng-confirm-click="remove(contact)"
										ng-confirm-condition="true">
										<span class="glyphicon glyphicon-trash"></span> Delete
									</button>
								</td>
							</tr>		
						</tbody>
					</table>
					<button type="button" class="btn btn-danger btn-md"
						ng-confirm-message="Delete all contacts?" 
						ng-confirm-click="clearAll()"
						ng-confirm-condition="true">
						<span class="glyphicon glyphicon-trash"></span> Clear all
					</button>
				</div>
				<div class="col-xs-12" ng-hide="contactsExist">
					<h3 class="no-records">No records found</h3>
				</div>
			</div>
			<!-- /#main -->
		</div>
		<!-- /.container -->

		<script type="text/javascript" src="js/vendor/jquery.min.js"></script>
		<script type="text/javascript" src="js/vendor/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/vendor/angular.min.js"></script>
		<script type="text/javascript" src="js/AddressBook.js"></script>
	</body>
</html>